*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


header{
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}


.mainheader{
    display: flex;
    position: relative;
    /* background-color: grey; */
    background-image: url(./image/mainblock__image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

.mainheader__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    align-items: center;
}

.mainheader__ava img{
    border-radius: 50%;
}

.mainheader__title{
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5.43px;
    margin: 0px 0px 15px 0px;
}

.mainheader__subtitle{
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 4.15px;
}

.mainheader__text{
    color: white;
    position: relative;
    padding:  0px 0px 50px 0px;
}
.mainheader__text:after{
    content: '';
    width: 105px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 38%;
    bottom: 0;
}

.mainheader__footer{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
}

.btn{
    display: block;
    padding: 0px 42px;
    margin: 0px 0px 0px 0px;
    height: 47px;
    line-height: 45px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    letter-spacing: 0.6px;
    border: 1px solid white;
    border-radius: 0.5em;
    transition: 0.3s linear;

}

.btn:hover{
    display: block;
    padding: 0px 42px;
    margin: 0px 0px 0px 0px;
    height: 47px;
    line-height: 45px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
    font-size: 16px;
    letter-spacing: 0.6px;
    border: 1px solid white;
    border-radius: 0.5em;

}

.btn_b{
    display: inline-flex;
    padding: 0px 42px;
    margin: 0px 0px 0px 0px;
    height: 47px;
    line-height: 45px;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 16px;
    letter-spacing: 0.6px;
    border: 1px solid #3c3c3c;
    border-radius: 0.5em;
    transition: 0.3s linear;
}

.btn_b:hover{
    display: inline-flex;
    padding: 0px 42px;
    margin: 0px 0px 0px 0px;
    height: 47px;
    line-height: 45px;
    text-transform: uppercase;
    color: white;
    background-color: #3c3c3c;
    font-size: 16px;
    letter-spacing: 0.6px;
    border: 1px solid white;
    border-radius: 0.5em;

}

.mainheader__arrow{
    display: block;
    padding-bottom: 10%;
    position: relative;
    animation: arrow 1.5s infinite ease;
}

@keyframes arrow{
    0%{top: 0;}
    50%{top: 20px;}
    100%{top: 0;}
}

.mainblock__header-block{
    margin: 0 0 60px 0;
}

.mainblock__menu{
    padding: 22px 0px;
    border-bottom: 1px solid #2f2f2f1a;
    margin-bottom: 130px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__link{
    color: #3c3c3c;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 25px;
    transition: 0.3s linear;
}

.menu__link:hover{
    color: #ada074;

}



.mainblock__header-block{
    margin: 0 0 75px 0;
}

.header-block{
    text-align: center;
    
}


.header-block__titel{
    font-style: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 30px 0;
    margin: 0px 0px 20px 0px;
}

.header-block__titel:after{
    content: '';
    width: 81px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -40.5px;
}

.header-block__subtitel{
    padding-top: 30px;
    color: #858585;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
    min-width: 700px;
    margin: 0px auto;
}

.about__body{
    text-align: center;
}

.about__row{
    display: inline-flex;
    margin: 0px -15px;
}

.about__column{
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    padding: 0px 15px;
    margin: 0 0 60px 0;
}

.about__item{
   text-align: center;
}

progress::-webkit-progress-bar{
    background-color: #858585;
}

progress::-webkit-progress-value{
    background-color: #ada074;
}

.about__icon{
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    width: 92px;
    height: 92px;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

.about__title{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin: 0 0 33px 0;
}

.filter__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 35px 0px;
}

.filter__item{
    color: #3c3c3c;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 25px;
    transition: 0.3s linear;
    cursor: pointer;
}






.filter__item:hover{
    color: #ada074;
}    

.active{
    color: #ada074;
}

.portfolio__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    /* gap: 20px; */
    justify-content: center;

    
}

.portfolio__column{
    margin: 15px;
    flex: 0 0 50%;
    flex-basis: 100px;
}

.portfolio__item{
    height: 100px;
    width: 100px;
}





.contacts__row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    
    letter-spacing: 1px;
    margin: 0 0 33px 0;
}



.contacts__icon{
    
    padding: 0px 20px;
}

.contacts__title{
    width: 100px;
   
}

.footer__row{
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0px;
    background-image: url(./image/mainblock__bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    height: 100px;
    top: 0;
    left: 0;
    align-items: center;
    text-align: center;
}



.footer__icon p{
    padding: 0px 10px;
}



.portfolio__btn{
    
    align-items: center;
}

.portfolio__footer{
    text-align: center;
    
    
    margin-bottom: 20px;
}

.github{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white

} 

.hide { /* You can play with the seconds to change the "animation" */
    animation: hide .5s ease 0s 1 normal forwards;
    transform-origin: center;
  }
  .show { /* You can play with the seconds to change the "animation" */
      animation: show .5s ease 0s 1 normal forwards;    
      transform-origin: center;
  }
  
  @keyframes hide {
    0%{
      transform: scale(1);        
    }
    100% {
      transform: scale(0);        
      width: 0;
      height: 0;
      margin: 0;
    }
  }
  @keyframes show {
    0%{
      transform: scale(0);     
      width: 0;
      height: 0;
      margin: 0;   
    }
    100% {
      transform: scale(1);    
    }
  }

  .hide{
      display: none
  }

  .contacts__column{
    display: flex;
    flex-direction: column;
  }

  .contacts__item{
    display: inline-flex;
  }